{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-1">

{% if user.is_authenticated %}

<h1>Logged In!</h1>

{% else %}

<h2>Login</h2>
<br />
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    
    <div class="mb-3">
      <!-- <label for="username1" class="form-label">Username or e-mail</label> -->
      <input type="text" class="form-control" name="username" placeholder="Usuário ou e-mail" required>
      <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Senha" required>
      <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
      <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>

</div>

{% endif %}

{% endblock %}